[2018-02-08 13:47] Krakean opened #1 "Code style + some questions"
Hello
Just a few questions:
1) LZ4_64.cs:

DeBruijn?

2) Can you please comment declarations of important functions? What they do, what params expect, what output/result is expected... current project haven't comments in code at all :-\

3) Also, can you please provide simple compression/decompression test/example? Which for example take a folder with files using specified path, compress them, mea

[2018-02-10 22:33] MiloszKrajewski commented on #1
0. DeBruijn: https://en.wikipedia.org/wiki/Nicolaas_Govert_de_Bruijn
1. This is some magic math, which is beyond my comprehension, I just know it works. For example, see here: https://cstheory.stackexchange.com/questions/19524/using-the-de-bruijn-sequence-to-find-the-lceil-log-2-v-rceil-of-an-integer
2. This is first pass to check if it works at all, I'll be porting it again. For now, original var

[2018-02-11 13:53] Krakean commented on #1
@MiloszKrajewski thanks for answers.
One more question: is possible to build it without Paket? Would like to avoid unnecessary dependencies

[2018-02-11 15:51] MiloszKrajewski commented on #1
I don't understand. You don't have download anything, everything get downloaded automatically. The assembly itself does not have dependency on `paket` (whatever it might mean)

[2018-02-11 18:30] Krakean commented on #1
@MiloszKrajewski
See screenshot: https://i.imgur.com/cauzqyA.png
You see this selected file? You have to run it before you can compile project, otherwise .csproj's will not be loaded. But before this, you have to install standalone nuget.exe otherwise you will be able to download and install Paket.
Anyway, is this anyhow required to make k4os to work?
Or I can just grab .cs files and it will work

[2018-02-11 20:12] MiloszKrajewski commented on #1
Ok, yes, thay do have dependency on nuget.exe so you will need to have it somewhere on your PATH.
I'm not going to change my pipeline, but to be honest, you can make it work without paket and fake as main assembly does not have any dependencies (you would need to edit .csproj though).

To be clear: it is for developing it, not for using it later, it won't need anything.

And yes: I used LZ4Net to

[2018-02-11 22:33] Krakean commented on #1
@MiloszKrajewski thanks for answers, now it all clear to me :)

[2018-02-11 22:33] #1 closed

[2018-02-24 08:21] epsitec opened #2 "Switch to Span<T>"
Since you are reimplementing your library for .NET Standard 2, why not use `Span<T>` which brings huge performance improvements without having to use unsafe code and pointers?

See https://msdn.microsoft.com/en-us/magazine/mt814808.aspx for a great introductory article from Stephen Toub.

[2018-02-25 12:17] MiloszKrajewski commented on #2
There is a plan to to it, but so far it is imperant to use `byte *` which is even more generic than `Span<byte>`. Once I have it working with `byte *` `Span<byte>` won't be a problem.

[2018-02-27 11:05] MiloszKrajewski commented on #2
I read a little bit and apparently `Span<>` is stack-only. So it is not really a viable solution.

[2018-02-27 11:05] #2 closed

[2018-02-27 12:02] MiloszKrajewski commented on #2
I read a little bit more and I have to admit I was wrong, so current status is: maybe.

[2018-02-27 16:06] kraptor23 commented on #2
Span just allows you to achieve some of the performance of pointers in a safe manner - I'd skip it as you are looking to port as mechanically as possible the pointer math etc from the C++ code. Looking forward to the first beta version - let us know when you are looking for some help testing things out!

[2018-03-06 14:59] Krakean opened #3 "Warnings in LZ4_Frame.cs"
@MiloszKrajewski
Hi. Suggest to add #pragma warning disable CS0169 in LZ4_Frame.cs to disable these warnings:
1>3rdParty\LZ4\Source\Internal\LZ4_Frame.cs(143,20,143,33): warning CS0169: The field 'LZ4_Frame.LZ4F_cctx_t.maxBufferSize' is never used
1>3rdParty\LZ4\Source\Internal\LZ4_Frame.cs(147,19,147,30): warning CS0169: The field 'LZ4_Frame.LZ4F_cctx_t.totalInSize' is never used
1>3rdParty\LZ4\S

[2018-03-19 09:54] MiloszKrajewski commented on #3
`LZ4_Frame` is not longer part of solution

[2018-03-19 09:54] #3 closed

[2018-03-22 01:41] Krakean opened #4 "xxhash dependency"
@MiloszKrajewski
Curious, what is it for?
And, can it be done via some common interface instead of lock-in to xxHash?
Like a IHasher with doHash() function or something like this, so I can provide my own hash library that I use to do the required hash job?
For example, in my game engine I prefer FarmHash (https://github.com/nickbabcock/Farmhash.Sharp this port particullary, which seems faster to m

[2018-04-08 23:44] Krakean commented on #4
@MiloszKrajewski curious, is project alive?

[2018-04-09 08:59] MiloszKrajewski commented on #4
Skiing holiday :-)

[2018-04-10 10:43] Krakean commented on #4
@MiloszKrajewski oh :) when you plan back to lz4?

[2018-04-19 13:46] Krakean commented on #4
@MiloszKrajewski ping :)

[2018-04-22 21:34] MiloszKrajewski commented on #4
working :-) stream decoder is now decompressing streams created with lz4.exe (reference implementation)

[2018-04-22 21:38] MiloszKrajewski commented on #4
BTW, for now I'm not checking any hash at all. I'm just ignoring it, so them whole discussion might be a little bit premature. Although, my primary goal is 100% compatibility, so xxhash with be definitely default option, and only option in version 1.0.
Plugable hashing algorithm sounds cool but it is not priority. NOTE: The only required hash is a hash of ~16 bytes of header, no block not content

[2018-04-23 08:16] MiloszKrajewski opened #5 "1.0.0-alpha"
- [ ] block fast encoder
- [ ] block high encoder
- [ ] block decoder
- [ ] stream encoder
- [ ] stream decoder
- [ ] frame decoder
- [ ] frame encoder
- [ ] xxhash in header
- [ ] friendly API

[2018-04-23 08:27] MiloszKrajewski commented on #4
Moved to ticked called '1.0.0-alpha'

[2018-04-23 08:27] #4 closed

[2018-04-23 13:40] Krakean commented on #5
You mean released 1.8.1.2 or 1.8.2 that one which is in dev branch? Just to be sure :)
And, if we speak about 1.8.2-dev, what important bugfix it made?

Also, I suppose you want 1.0.0-alpha be compatible with 1.8.1(.2?) that you initially picked up, but later anyway plan to upgrade to later version of lz4 with those breaking changes (imho there is nothing wrong in breaking changes, user always can

[2018-04-23 13:47] Krakean commented on #4
@MiloszKrajewski

Think that things like this better to discuss while development in alpha :)

Just in my opinion it wouldn't be so hard to implement via somekind of interface I suggested, so would be nice if v1.0 have it.
Plus, in my case for example I have no intention to have compatibility with any official reference implementation (in case if xxhash is matters in context of compability), becau

[2018-04-24 09:55] MiloszKrajewski commented on #5
1.8.2 fixes some low probability/high impact security issue. It won't happen on PC but might happen on IoT devices. So, I'm too concerned but still it is worth to port it, as once ported it freezes for a while.
It is not a interface breaking change (so no problem for you), but produced output is binary identical so lots of my unit tests will start to fail.

[2018-04-24 10:26] Krakean commented on #5
@MiloszKrajewski got it. :) then, if there is no problem for PC, so no reason to rush then with 1.8.2 update :)

[2018-06-14 10:41] Krakean commented on #5
@MiloszKrajewski development stalled? :-\

[2018-08-31 23:52] MiloszKrajewski commented on #5
Yup. I had a bug and a mental block for a while. And then, after returning from holiday, found and fixed problem in one day.
Anyway, last thing to do is: more tests (stressing it a little bit) and friendlier API.

[2018-09-09 15:37] Krakean commented on #5
@MiloszKrajewski good to see you back.
By the way, any plans to update fresh version of lz4? :) As I assume your source code is based on lz4 1.8.1 (deprecated one?), and now 1.8.2 is available

[2018-09-09 19:29] MiloszKrajewski commented on #5
I just release to nuget and wrote some docs on main page. I'll wait for some API feedback and try to port next version. As long as it is just bug fixes it should be relatively easy, but if there are breaking changes it may take while.

[2018-09-09 19:36] Krakean commented on #5
@MiloszKrajewski Well, since major version hasn't been changed, I guess its just minor fixes + optimizations, so I guess it shouldn't take much time :)
Plus, would be nice if you will add to readme.md some benchmarks, just have some speed comparing to C's lz4.

[2018-09-10 14:47] vpenades opened #6 "[Feature] In memory LZ4Frame decompression"
Could we have an API to encode/decode frame blocks directly to arrays/spans ?

something like this:

[code]

[2018-09-10 19:58] MiloszKrajewski commented on #6
Isn't `LZ4Pickler.Pickle` and `LZ4Pickler.Unpickle` do (almost) exactly that?

[2018-09-10 20:30] vpenades commented on #6
@MiloszKrajewski do Pickle and Unpickle handle Frames?

What I am trying to do is to read and play ROS-Bag files... they're essentially video files, where every frame can be compressed using LZ4 or BZ2... I usually need to decompress between 60 and 90 images per second, so I'm trying to avoid any unnecesary byte copy.  I am also using ArrayPool<Byte> to reuse buffers.

[2018-09-10 21:30] MiloszKrajewski commented on #6
That's fair. From what I've seen every frame is ROS bag file is a mini LZ4Stream. I guess all the magic is in https://github.com/ros/ros_comm/blob/melodic-devel/utilities/roslz4/src/lz4s.c but it also seems to me like customized lz4 implementation so I'm not exactly sure if it would be easy to implement.

I understand `LZ4Stream.Decode(new MemoryStream(lz4bytes)).ReadToEnd()` is what you need but

[2018-09-10 21:50] vpenades commented on #6
Exactly. Right now it's what I am using, and it's decoding the LZ4 miniblocks just fine.

But in order to improve performance, any memory reallocation is a bottleneck. I am using Spans, ArraySegments and ArrayPools everywhere...

I also would like to try with realtime recording/encoding; right now I am recording raw frames at 500mb/second throughput, and it's already at the limit. So my plan is th

[2018-09-10 23:02] MiloszKrajewski commented on #6
Currently I don't provider `ContentLength` as `Stream.Length` but this might be relatively easy thing to do (not trivial though, as it is expected to be available right after construction, so reading of inner file would need to happen before reading lz4 stream, kind of non-obvious side effect).
Once you have frame length you could use https://github.com/Microsoft/Microsoft.IO.RecyclableMemoryStrea

[2018-10-05 23:31] MiloszKrajewski commented on #6
In version 1.0.2 you can now read content length (if compressed with content length).

[2018-10-09 15:03] ZunTzu opened #7 "LZ4Codec.Decode returns -1 instead of correct length"
Hi, Milosz!
I hope reporting this issue will be helpful. Here is a source code example which exhibits the issue:

            string text = "The quick brown fox jumps over the lazy dog";
            byte[] textBytes = System.Text.Encoding.UTF8.GetBytes(text);

            byte[] encoded = new byte[LZ4Codec.MaximumOutputSize(textBytes.Length)];
            int encodedLength = LZ4Codec.Encode(

[2018-10-11 11:45] MiloszKrajewski commented on #7
Just change:

[code]

to:

[code]

Very well hidden :-)

[2018-10-11 12:20] ZunTzu commented on #7
Thanks a lot!

[2018-10-11 12:20] #7 closed

[2018-10-18 17:07] juanyaw opened #9 "Strongly named assembly"
Hi Milosz, can your assemblies be strongly named once again like the old lz4net version was?

[2018-10-25 08:17] MiloszKrajewski commented on #9
I quite reluctant to do it. It's a pain when you have dependencies depending on different versions.
I'm looking now at public signing (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/public-signing.md) maybe this will solve the problem.

[2018-11-04 17:15] MiloszKrajewski commented on #9
New version should be strongly signed now.
Although it also has some breaking changes (if you use pubternals).
https://www.nuget.org/packages/K4os.Compression.LZ4/1.1.0

[2018-11-05 11:01] #9 closed

[2018-11-18 01:09] LyingDwarf opened #11 "[Question] Is this library thread safe?"
Are the static classes LZ4Codec, LZ4Pickler, etc safe to use from multiple threads concurrently?

What about the instance classes LZ4EncoderStream, LZ4DecoderStream, etc? (I would assume not)

[2018-11-19 10:48] MiloszKrajewski commented on #11
All static method (mostly factories) are safe.
Instance methods on streams are not. I could put locks in them, but streams are not thread safe in most cases almost by definition (you know: "stream").
I guess you could have ThreadSafeStream decorator if you want to write from different threads to the safe stream.

[2018-11-19 17:08] Krakean opened #12 "Interface for hash functions"
@MiloszKrajewski
Hello.
Can you provide here:
var HC = (byte) (XXH32.DigestOf(_buffer16, 0, _index16) >> 8);
Ability to use other hash function via some kind of interface, or something like this? For those, who want to use something else than xxhash.
Specifically I would like to use Farmhash here which is faster than xxhash.

[2018-11-22 17:36] #11 closed

[2018-11-22 17:54] MiloszKrajewski commented on #12
Please note that this hash is header hash: it is maximum 16 bytes, but 6 bytes most of the time.
I guess virtual (interface/Func<>) call takes more time than calculating this hash.

If you thinking about block/content hash it is not implemented yet at all (not written/ignored on read) but I'll think about making them pluggable somehow.

[2018-11-22 21:12] LyingDwarf commented on #11
Thank you for the answer. Your design is as I'd hoped and I agree that adding locks wouldn't really help for most streaming classes.

[2018-12-25 21:44] NothingFaceX opened #13 "Compression is 0%"
Hi is my code right ?
[code]

[2018-12-27 21:16] AArnott opened #14 "Support for `ReadOnlySequence<byte>` and `IBufferWriter<byte>`"
I'm happy to see support for `ReadOnlySpan<byte>` already in the library.

I want to be able to *effectively* stream compression/decompression, but without using the `Stream` class. That is, I don't want to have to allocate contiguous memory for the input and output of the algorithm.

If the algorithm would accept a `ReadOnlySequence<byte>` as input, and write its output to a given `IBufferWriter<

[2019-01-02 12:42] MiloszKrajewski commented on #14
I will take a look. I was thinking about adding some lightweight stream-like abstraction, but considered it not-so-urgent as Stream IS an abstraction.

It won't be trivial though. At any point of time last 64k of uncompressed data needs to be accessible at fixed address in contiguous block of memory.

[2019-01-02 12:44] MiloszKrajewski commented on #13
Let me help you with a question :-)
How many bytes do you think you write to file in this line: `File.WriteAllBytes("Compressed.dll", output_compressed);`?

[2019-01-02 16:04] AArnott commented on #14
Thanks.

Interesting. `ReadOnlySequence<byte>` certainly wouldn't satisfy that guarantee, as the sequence could be blocks of any size. If they weren't of the required size you'd have to copy the bytes into a (reusable) 64KB array. I'm curious though why this is a requirement. Is it something we can fix (in a performant way) or is it in some native library that can't change?

Another idea is to sti

[2019-01-02 17:11] MiloszKrajewski commented on #14
Please note that having non-contiguous blocks of any size will not guarantee "At any point of time last 64k of uncompressed data needs to be accessible at fixed address in contiguous block of memory.".
For example, even with 1MB block after writng 1MB+1byte of data last 64k is no longer in contiguous block of memory".
So copying into reusable sliding buffer is the best option. And that's what `LZ4

[2019-01-02 17:19] AArnott commented on #14
I see. Well, documenting the anticipated perf hit from the extra mem copying from using a `ReadOnlySequence<byte>` with anything but a single array backing it seems reasonable. I'd still prefer that to the requirement of allocating a single array with an arbitrarily length. But hopefully the perf impact can be relatively minor.

[2019-01-31 13:48] AndreaFrancoQlik opened #16 "Issue upgrading from lz4net to K4os.Compression.LZ4"
Hi, I'm upgrading to the new version of your library, but I'm struggling to understand what I'm doing wrong. This is the code I updated:

[code]
I get a _System.IO.EndOfStreamException: 'Unexpected end of stream. Data might be corrupted.'_ when trying to deserialize the object.

Any suggestion will be appreciated!
Thanks in advance

[2019-02-01 10:58] AndreaFrancoQlik commented on #16
Thanks a lot, that solved the issue!

[2019-02-01 10:58] #16 closed

[2019-02-08 20:31] NothingFaceX commented on #13
Aw , My bad I understood the problem but how can I fix it ?

[2019-02-10 13:00] Krakean commented on #12
@MiloszKrajewski no progress on this? :-\

[2019-02-10 13:01] Krakean commented on #5
@MiloszKrajewski

Curious, any progress on this?

[2019-02-11 18:54] MiloszKrajewski commented on #13
`Encode` returns a how many bytes you need actually write.

[2019-02-12 12:31] NothingFaceX commented on #13
I got it , Now I use it like this :
[code]

[2019-02-12 16:52] MiloszKrajewski commented on #13
if `dec_proces` is 0 or less it means that there was not enough room to decompress, which is possible as you provide `desource.Length` as target buffer maximum size which it should be rather `decompressed.Length`.

Aditionally it seems to like you started with low level functions which `LZ4Pickler.Pickle` and `LZ4Pickler.Unpickle` would exactly what you want to do without messing with memory buffe

[2019-02-13 16:15] NothingFaceX commented on #13
thanks , No I know exactly what Pickle and Unpickle are , I just wanted to know how to this works , I'm working on some compression methods , I wanted to know about your library becuz some people told me it's the best

[2019-02-21 02:49] vikasNew opened #17 "unable to decompress data received in API"
Hi i am getting lz4 compressed data in API request body. data is compressed in ios but when i try to decompress that data i get the following error.. "inputBuffer size is invalid or has been corrupted"

i am using the fokkowing metho to decompress data..

 var lorems =   Encoding.UTF8.GetString(LZ4Codec.Unwrap(Convert.FromBase64String(compressed)));

it works when i compress data with LZ4Codec.Wra

[2019-02-24 14:01] MiloszKrajewski commented on #17
* There are no `Wrap`/`Unwrap` functions so I guess you created this ticket against wrong library
* LZ4 is very flexible algorithm and has two modes BLOCK and STREAM. I can ONLY guess that iOS data you receive is in STREAM mode, therefore you should use `LZ4Stream.Decode(...)`

[2019-02-26 09:39] #17 closed

[2019-02-28 18:54] Krakean commented on #5
@MiloszKrajewski ping :)

[2019-03-12 05:15] krs43 opened #18 "End of Stream Behavior"
When we reach an end of a stream, but call a read anyways, I would expect to return immediately with a zero bytes return. Instead I either get an exception related to invalid magic number, or End Of Stream Exception. I believe this could be handled in the GetFrame Method, when it asks for a magix number, but instead returns 0/null, it could recognize this is an end of stream and surface a return 0

[2019-03-12 05:35] krs43 commented on #18
More specifically - if I use Extra Memory, it throws InvalidDataException "LZ4 frame magic number expected", and if I dont use extra memory, I get EndOfStreamException.

[2019-03-12 13:34] MiloszKrajewski commented on #18
Definitely looks like a bug. I'll take a look.

[2019-03-15 14:56] MiloszKrajewski commented on #18
You are right this is the behaviour. Last read DOES return 0 bytes, but if you try again it with throw.
There is one problem though.
I actually wanted it work that way, to allow appending to possibly finished stream.
Let's imagine that you have regular stream and you closed it, reopened it and started appending. It would form one contiguous stream of bytes.
With LZ4 stream I wanted it to be the sa

[2019-03-15 15:44] krs43 commented on #18
Thanks Milosz - I'll take a closer look again - I didn't realize the first time returned zero successfully. On an unrelated note - do you have any interest in making a C# Zstd library? Current wrappers lack true .net standard suppport, and what you've done for LZ4 has been incredible!

[2019-03-21 20:00] Krakean commented on #5
@MiloszKrajewski Hello Milosz, when you plan to continue development on this library? Or its no longer maintained?

[2019-03-26 11:48] MiloszKrajewski commented on #5
Yes, I do. I'm just doing some online courses now and all my evenings are consumed by writing Scala. I'll come back to this project soon.
Do you have any urgent bugs/issues?

[2019-03-26 19:29] Krakean commented on #5
@MiloszKrajewski

Glad to hear :)

Nah, not at the moment at least :)
Just worry about this project future, its the only C# native decent compression library which is suitable for games. Cant wait to see update sources to latest lz4 master with optimized decompression :) Block/content checksum also would be nice to see

[2019-04-07 03:37] jweissBHG opened #19 "Segfault in Unity 2018.3.8 compiled on Android using IL2CPP"
When running a Unity 2018.3.8 app on Android compiled with IL2CPP, I'm getting a SIGSEGV when calling `LZ4Codec.Decode()`. The encoded data is coming from a server running .Net Core 2.1 on Linux, encoded with `LZ4Codec.Encode()`. Everything works fine when running Unity in editor, I'm experience the segfault only on Android devices. Do you have any idea what could be going wrong in this build scen

[2019-04-07 16:09] jweissBHG commented on #19
Did some more debugging today and narrowed it down to this line:

https://github.com/MiloszKrajewski/K4os.Compression.LZ4/blob/d7bd4fe37f488c9f0f56251cf1de1217eb3b4090/src/K4os.Compression.LZ4/Engine/LZ4_xx.cs#L257

[code]

Going to be getting more info soon

[2019-04-07 18:15] jweissBHG commented on #19
Not sure why, but it seems like the `Mem.cs` methods that utilize `ulong*` are the ones triggering the segfaults. If I switch it to `int*` math instead of `ulong*` math (and all the increments by 8 to 4 instead), I can get rid of the segfault. Not too sure why this is happening, but I have worked past it

[2019-04-08 03:50] jweissBHG commented on #19
Current thinking is that this is a Unity IL2CPP bug that has to do with `ulong*` pointers, am going to try to make a basic project for reproducing the issue when I have time.

[2019-04-09 09:45] MiloszKrajewski commented on #19
My bet would be on unaligned memory acces

[2019-04-25 12:27] aschiffmann opened #20 "Migrate compressed files from lz4net"
We are updating our application from lz4net to K4os.Compression.LZ4 and are looking for a way to decompress old data compressed with lz4net (in stream mode) using K4os.Compression.LZ4.
However decompression always throws an `InvalidDataException` with the message "LZ4 frame magic number expected".

Compression in lz4net has been done by calling

    new LZ4Stream(fileStream, CompressionMode.Compre

[2019-04-25 13:45] MiloszKrajewski commented on #20
This is not a bug but "missing feature".

Few words of explanation: `lz4net` was NOT compatible with LZ4Frame format (https://github.com/MiloszKrajewski/lz4net/blob/master/doc/compatibility.md) and it was one of main complaints. When I was implementing `K4os.Compression.LZ4` it was a primary objective to have LZ4Frame streams and being backward compatible was not.
I did acknowledge it though by pu

[2019-04-28 20:35] MiloszKrajewski commented on #20
Released as `K4os.Compressions.LZ4.Legacy` (separate assembly)

[2019-04-29 08:43] #20 closed

[2019-05-04 14:23] Krakean commented on #5
@MiloszKrajewski
Hello Milosz
No update to lz4 v1.9.1 in near feature? :-\ It has decent decomp speed optimizations which are really nice to have.

[2019-05-05 11:21] MiloszKrajewski commented on #5
I pulled 1.9.1 and compared it with 1.8 and change are quite drastic so no tweaking, it would require full port again. On the radar, but functional changes (like true async/await) would take precedence I think.

[2019-05-10 14:43] Krakean commented on #5
@MiloszKrajewski

Its better than nothing at all :)

Oh, good.
Any approximate estimates on new version? :)

[2019-05-12 09:20] Krakean opened #21 "Exception: Arithmetic operation resulted in an overflow"
@MiloszKrajewski
Here is picture with callstack: https://i.imgur.com/5J7R4H1.png
Exception happens only when arithmetic overflow checking is enabled in project settings (which is enabled in my case when I build Debug configuration).

[2019-05-12 15:17] MiloszKrajewski commented on #21
Calculating a hash is absolutely expected to "wrap around" causing arithmetic overflow exception. What is not expected turning arithmetic overflow checking on. Who does that? :-)
Adding unchecked to explicitly turn it off will help.

[2019-05-12 19:46] Krakean commented on #21
@MiloszKrajewski

Is it so useless option to enable? :-\

[2019-05-13 00:25] MiloszKrajewski commented on #21
Definitely not in library which uses bit twiddling hacks, but... to avoid this problem I've wrapped has calculation in `unchecked`

[2019-05-13 17:01] mejje opened #22 "DataContractSerializer causes InvalidDataException"
Hello, I'm having problems using this library with a DataContractSerializer. This example throws System.IO.InvalidDataException: LZ4 frame magic number expected. Can't figure it out, and it works fine copying to an intermediate MemoryStream for some reason (but of course I want to avoid that).
[code]

[code]

[2019-05-13 20:28] MiloszKrajewski commented on #22
Caused by #18. Seems like it wasn't a good idea.

[2019-05-13 21:00] MiloszKrajewski commented on #22
Fixed in 1.1.7

[2019-05-13 21:01] MiloszKrajewski commented on #18
Fixed in 1.1.7

[2019-05-13 22:46] #18 closed

[2019-05-14 08:35] mejje commented on #22
Thank you, it works with the default datacontractserializer (text), but when using a binary reader/writer it causes a SerializationException:
[code]

Verified test with GZipStream.

[code]

[2019-05-14 13:04] MiloszKrajewski commented on #22
...and fixed again, in 1.1.9 this time

[2019-05-14 13:05] #22 closed

[2019-05-21 18:47] Krakean commented on #5
@MiloszKrajewski
Hello Milosz
Any progress on v1.9.1? As I can see by existing of the branch '191' you decided to integrate 1.9.1 after all, right?

[2019-06-01 17:19] Krakean commented on #21
@MiloszKrajewski
Another one happens in LZ4_64.cs here:
		protected static uint LZ4_NbCommonBytes(ulong val) =>
			DeBruijnBytePos[(ulong) ((long) val & -(long) val) * 0x0218A392CDABBD3Ful >> 58];

[2019-06-11 18:04] andrewsil1 opened #23 "Frame decompression with LZ4Stream.Decode seems to ignore all blocks after the first one"
Please see discussion of this [issue.](https://github.com/lz4/lz4/issues/729)

To summarize: I have an incoming stream which is compressed with LZ4F_compressBegin/Update/End in a C program running on a Xilinx FPGA (Microblaze processor.) Options for the frame are set to use the 4MB block size, but can be reproduced with any block size.

The problem is that when the size of the entire uncompressed

[2019-06-11 19:31] MiloszKrajewski commented on #23
It is not obvious, but this stream uses "interactive" reading.

If you look at [documentation for Stream.Read](https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=netframework-4.8) you will find that it may read less than requested: "Returns: The total number of bytes read into the buffer. This can be less than the number of bytes requested if that many bytes are not currently a

[2019-06-11 19:33] andrewsil1 commented on #23
Thank you for the clarification- it wasn’t obvious, you’re right. I’ll give that a try and report back.

Thanks-

[2019-06-11 20:21] andrewsil1 commented on #23
That does indeed cure it.  Thank you so much for the tip, it was driving me crazy. :-)

[2019-06-11 20:21] #23 closed

[2019-06-12 07:41] MiloszKrajewski commented on #21
fixed in 1.1.10

[2019-06-12 07:41] #21 closed

[2019-06-24 09:18] SlimRG opened #24 "Can't make proccess bar"
How can I proccess bar make for your library?

[2019-06-24 16:34] MiloszKrajewski commented on #24
Process bar? What do you mean by that?

[2019-06-26 09:27] MiloszKrajewski commented on #24
Closing it as 'not-a-bug'

[2019-06-26 09:27] #24 closed

[2019-06-29 14:51] bgulanowski opened #25 ""Invalid IL code" exception on Unity/MacOS (lz4net)"
Unity 2018.4 for macOS. Visual Studio Community.

I downloaded the lz4net-1.0.10.93-portable package and added it to my Unity project. A few tests worked fine, then I hit this.

Code:
[code]
where Serialize() using normal binary serialization on a serializable object.

Exception:

[code]

[2019-06-30 19:31] MiloszKrajewski commented on #25
First of all "lz4net" is a different library.
Does "K4os.Compression.LZ4" have same problem?

Unfortunately, I cannot help you for many reasons. First of all, code compiles and "Invalid IL" is either a compiler problem, of runtime problem. Both libraries use pointer arithmetic heavily and push things to the limit.

As I understand the problem is on MacOS which I have no way to test.

[2019-07-02 11:42] bgulanowski commented on #25
Apologies!

[2019-07-02 15:29] #25 closed

[2019-07-03 17:32] realivanjx opened #26 "Can support net45?"
I already have an app that runs on net45 and my client wont upgrade to net46. Can you support net45?

Thanks.

[2019-07-03 19:27] MiloszKrajewski commented on #26
In general can be done as sources themselves do nt use any .NET 4.6 features, but I had problems with compatibility of dependencies: System.Memory and System.Buffers. There are some weird compilation errors when net 4.5 is added to the mix.

At the same time I remember having barriers like this NET 3.5 compatibility as it was used by Unity, NET 4.0 compatibility as this is last version supported b

[2019-07-03 19:34] realivanjx commented on #26
We have hundreds of users already. Impossible to tell them one by one. My boss wouldnt like it either. What errors?

[2019-07-03 19:40] realivanjx commented on #26
Net46 is also only preinstalled only with windows 10...

[2019-07-03 20:20] MiloszKrajewski commented on #26
Don't quote me on that, but:

I don't remember exactly, but it was something about using `System.Runtime.CompilerServices.Unsafe` (transient dependency of System.Memory?) which, when .NET 4.5 was added to the mix, was forced to use some version, which was causing run-time exceptions on .NET 4.6 (it was compiling just fine, it just didn't work).

I'll take another look.

[2019-07-03 23:09] MiloszKrajewski commented on #26
`Buffer.MemoryCopy` was the problem. You can try now. `1.1.11`

[2019-07-04 07:27] #26 closed

[2019-07-16 11:31] Jacobh2 opened #27 "Problem decoding data"
Hi!

I'm trying to decode a message which I have encoded in python using `py-lz4framed`, but having some issues.

Have I understood it correctly that I cannot use the `K4os.Compression.LZ4` package, since that says "Block compression only", and the `py-lz4framed` lib uses frames? This leaves me with the `K4os.Compression.LZ4.Streams` package.

My encoded message is not a stream, so what I've done

[2019-07-16 12:46] Jacobh2 commented on #27
I compress the message in Python using [py-lz4framed](https://github.com/Iotic-Labs/py-lz4framed).

[2019-07-16 13:18] MiloszKrajewski commented on #27
Can you attach some sample data?

[2019-07-16 13:37] Jacobh2 commented on #27
Sure thing! So in Python I do: (using version 0.13.0 of `py-lz4framed`)
[code]

I then send this over to the C# project using kafka. I have confirmed that I get the exact same bytes back: Both python and c# print the byte array: `[4, 34, 77, 24, 104, 64, 5, 0, 0, 0, 0, 0, 0, 0, 97, 5, 0, 0, 128, 104, 101, 108, 108, 111, 0, 0, 0, 0]`

One thing I noticed after posting here, is that using `Encoding.

[2019-07-16 13:56] MiloszKrajewski commented on #27
If lz4framed uses frame format (I guess it is) then `LZ4Codec.Decode` is NOT the right approach as it is for frame format (but you knew that). Anyway:

[code]

It works.

[2019-07-16 14:18] Jacobh2 commented on #27
Thank you very much for the help here! Correct: I used the `LZ4Codec.Decode` wrong in the last post. Testing your provided code works as intended.

Doing some more testing shows me that I _do not_ seem to get the same byte array back from kafka as the one I put in. So I think it is something wrong with the kafka consumer settings where one of the bytes that should have value 128 gets value 63.

Th

[2019-07-16 14:22] Jacobh2 commented on #27
Yes, correct! It was my settings with kafka that was messed up! Sorry for taking your time!

[2019-07-16 14:22] #27 closed

[2019-07-18 10:29] MiloszKrajewski commented on #19
Do I need to switch to 32 bit on 32-bit processors or it will be fixed in mono/unity?
Can you update me on this? (I assume you are monitoring this issue)

[2019-07-18 11:30] capyvara commented on #19
@MiloszKrajewski I did a similar fix on neuecc/MessagePack-CSharp#463 above, I think it's unlikely to be fixed on unity side, so we'll need to use a 32bit version of Mem.WildCopy(), at least on 32 bit processors, we can branch in runtime by using Environment.Is32BitProcess() or IntPtr.Size == 4.

[2019-07-18 13:46] MiloszKrajewski commented on #19
I just hoped for not branching at runtime. WildCopy is meant to be fast, and branching kills it. It is also inlined method so when it becomes quite big it is killing processor cache.
It is not WildCopy though. It is Fill, Zero, Copy8, Copy16, and Copy18.
Argh. Need to think about it.

[2019-07-18 14:09] capyvara commented on #19
I think the idea is not to branch in the Mem methods themselves, but as early as possible. If you check on neuecc implementation there branches for 4 permutations decided right after (32 or 64 bits, < 64kb or > 64kb input length).

However it will require some code duplication, depending on your C# minimum version (7.3+) we could somehow use generics with the unmanaged type constraint to reduce th

[2019-07-18 14:13] jweissBHG commented on #19
I have not had time to investigate further -- I'm also assuming this is something that Unity won't fix, at least not until someone proves that it's their fault and submits a minimal repro project to them (something I have not yet done).

[2019-12-12 07:43] mzhou2018 opened #28 "Encrypt with a password ?"
is it possiable to encrypt a file while compressing files?

[2019-12-14 10:23] nexrom88 opened #29 "DecoderStream just reads first 65520 bytes"
hey there,

I have a strange problem by using the lz4decoder stream. It seems as if the decoder just decodes the first 65520 bytes. By reading further the decoder gives me random useless bytes. The underlying stream is a FileInputStream.
I created an own file format from which I read different sized byte blocks by using the LZ4Decoder Stream.

            //open base filestream
            FileStr

[2019-12-17 20:04] MiloszKrajewski commented on #29
I see nothing suspicious (apart from allocating buffer all the time). This is just a read part. Can you attach project which does both - writes data and reads data?

[2019-12-17 20:06] MiloszKrajewski commented on #28
This is not encryption algorithm, but you can compose it with CryptoStream with no problem. Just remember to wrap LZ4Stream (inner) with CryptoStream (outer) as if you this the other way around there will be no compression (as crypto maximises entropy).

[2019-12-17 20:06] #28 closed

[2019-12-18 19:04] nexrom88 commented on #29
I think I found the problem.
I assumed that `diffStream.Read(buffer, 0, buffer.Length);` always reads "buffer.length" bytes from the stream. I found out that LZ4DecoderStream sometimes reads less bytes.

[2019-12-30 07:20] UpUpLiu commented on #29
i have this problem too
i think you need give some info for this api to let other know this rule.

[2019-12-30 13:06] nexrom88 commented on #29
I think the problem is that DecoderStream buffers its decoded data internal within a 65536 bytes buffer. User first has to read all these bytes before this buffer gets filled again. That's when DecoderStream returns less bytes than needed.
I also tkink that this fact should get mentioned somewhere in the description of the API.

[2020-01-09 17:41] MiloszKrajewski commented on #29
Well, it is documented in Stream API:
https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=netframework-4.8

[code]

[2020-01-17 11:40] #29 closed

[2020-01-29 19:25] tdhung80 opened #30 "Compression is not working"
Hi,

I have tried many tests, none of them is working.

`
var dataSize = 1000000;
var input = new byte[dataSize];
new Random().NextBytes(input);

var outputBuffer = new byte[LZ4Codec.MaximumOutputSize(input.Length)];
var bytes = LZ4Codec.Encode(input, 0, input.Length, outputBuffer, 0, outputBuffer.Length);
// bytes > 1000000 !!!?

outputBuffer = LZ4Pickler.Pickle(input);
// outputBuffer.Length > 1

[2020-01-30 11:22] MiloszKrajewski commented on #30
Well, "In particular, files of random data cannot be consistently compressed by any conceivable lossless data compression algorithm: indeed, this result is used to define the concept of randomness in algorithmic complexity theory."

https://en.wikipedia.org/wiki/Lossless_compression#Lossless_compression_techniques

[2020-01-30 11:22] #30 closed

[2020-03-15 12:05] MiloszKrajewski commented on #19
I hope I've addressed 32/64/alignment problem in 1.2.1-beta.
I've rested in on .NET Core 2.2 @ Rasperry Pi 3 and it works fine, but It would be helpful if someone could test on Mono / Android.

[2020-03-15 12:08] MiloszKrajewski commented on #5
++version

[2020-04-03 18:00] LittleCodingFox commented on #19
I just tested it and I no longer have the crash. Thanks for releasing a fix!

[2020-04-04 13:23] MiloszKrajewski commented on #19
@LittleCodingFox What platform did you test? Unity? Xamarin?

[2020-04-04 13:32] LittleCodingFox commented on #19
Unity Android 2019.3 IL2CPP :)

[2020-04-04 14:37] MiloszKrajewski commented on #19
Thanks. I'll close the issue.

[2020-04-04 14:37] #19 closed

[2020-04-11 06:25] kraptor23 opened #31 "ZStandard"
Hello,

I've really enjoyed working with your .net standard 2.0 library for LZ4 on our network stack. We're interested in using zstd in our network stack as well, but given that we cross compile windows/linux/ios/android, it really needs to be a .net standard, and not a wrapper of the native library (as all of the C# implementations are right now). I'm wondering if you'd be interested in either a

[2020-04-17 09:45] MiloszKrajewski commented on #31
Hi,

I was thinking about that few times.
I will need to look at Zstd sources, as with new features in LZ4 it gets more and more complicated to port it. As it is the same author but also commercially supported I have reasons to suspect it might even more complicated (more features).

I'll take a look though, but even if I will stand with something simple, like block compression only.

[2020-04-19 20:47] kraptor23 commented on #31
Sounds great - as I mentioned, email me about any arrangements we can help with. Would love to see Zstd make it to C# as a standard library just like LZ4.

[2020-05-07 14:50] hooyao opened #32 "LZ4DecoderStream followed by MD5 CryptoStream in read mode is insanely slow"
It's barely an issue, it's quite interesting though.
[code]
The above code is extremely slow, approximately 14MB/s on 8700K with nvme ssd.
Simply use CryptoStream in write mode as following
[code]
The stream can reach 400MB/s on the same hardware.
I used visual studio and dottrace to profile the code, none of them worked, they reported 80% the cpu time was spent with `System Code`. The dottrace sn

[2020-05-08 21:20] MiloszKrajewski commented on #32
Hi, It may take a while before I can investigate this, but I was just thinking: did you try to isolate them with BufferedStream between?

[2020-05-09 01:45] hooyao commented on #32
@MiloszKrajewski Yes, adding a Bufferedstream between the LZ4DecoderStream and CryptoStream didn't work, even with a super large buffer, like 300MB, the streaming speed got stuck at 14MB/s.

[2020-05-11 19:48] MiloszKrajewski commented on #32
Good news:
I know what's the problem is and how to "fix" it. I say "fix" as there is no bug, but apparently `CryptoStream` does not like when underlying stream does not return whole blocks at once.

Bad news:
Not today.

[2020-05-12 04:45] hooyao commented on #32
@MiloszKrajewski  Thank you

[2020-05-13 20:58] MiloszKrajewski commented on #32
Most likely fixed in 1.2.2-beta

[2020-05-14 09:03] #32 closed

[2020-05-17 14:34] hooyao commented on #32
Thank you @MiloszKrajewski , the new release works.

[2020-05-23 05:39] UkooLabs opened #33 "Calculate decompress buffer size"
Is it possible to add a method that pretends to decompress data and thus works out buffer size needed for decompression?

[2020-05-23 16:14] MiloszKrajewski commented on #33
It is an interesting idea, it could work as decompressing data but actually not writing anything, but...
such method does not exist in original implementation, so it would need to be written from scratch.
It would also double the time needed for decompression going slightly against the rationale behind "fast compression algorithm".
What actual scenario prevents from using LZ4Stream or LZ4Pickle, o

[2020-05-23 19:51] UkooLabs commented on #33
This came about whilst doing a library to parse Pixar's Usdc file formats. Certain parts of the data are compressed and they give you the compressed buffer size but not the uncompressed size. In their c++ source code they have some calculation to gneerate the size of work space needed for decompression. However i was in line of thinking would be way cleaner to know really how much is needed.

This

[2020-05-23 20:31] UkooLabs commented on #33
@MiloszKrajewski looks like i cant use LZ4Stream.Decode as a substitute for LZ4Codec.Decode as complains 'LZ4 frame magic number expected'

[2020-05-23 20:44] Cyan4973 commented on #33
The [LZ4 block format](https://github.com/lz4/lz4/blob/v1.9.2/doc/lz4_Block_format.md) expects the host system to handle metadata, such as compressed size or decompressed size. It doesn't provide any facility for it, but depends on it.

Not that the LZ4 block format doesn't require the decompressed size, but an _upper bound_ of the decompressed size. In many applications, this is implied by the ap

[2020-05-24 14:25] kylemc opened #34 "Add true async stream implementations for use in aspnetcore3+"
I recently attempted use to the `LZ4EncoderStream` with aspnetcore3.1 by writing a custom `ICompressionProvider`. It worked great until I started using it in services with `AllowSynchronousIO` disabled.

https://github.com/dotnet/aspnetcore/issues/7644

At that point, I got the following exception.

[code]

It would be great if you could write stream implementations that are compatible with this n

[2020-05-24 14:27] kylemc commented on #5
I see 'add true async read/write interface' in vNext above, but I also wrote up #34 to explain the value to me. Without a fix, I'll have to look for other fast compression options.

[2020-05-25 13:09] MiloszKrajewski commented on #33
Hi @Cyan4973. Sorry, two question were mixed together. The question I was trying to get you involved was:
Method to find out what was uncompressed block length by decompressing it without writing anything (so no memory needs to be allocated). I guess it can be done by adapting "LZ4_decompress_generic" somehow, but maybe there is faster way to do it.

[2020-05-25 13:12] Cyan4973 commented on #33
Ah yes, one could create a custom "decoder" for it, which just reads the token, extracting length fields and adding them together to return total length, without ever generating anything.

Such function currently doesn't exist in LZ4 reference library.

[2020-05-26 16:32] kylemc commented on #34
I wrote up a straightforward `AsyncLZ4EncoderStream` implementation that duplicated every "write" method with an async pair. It has to ship on netstandard2.1+ because that's the first runtime to include `Stream.DisposeAsync`.

I have a simple unit test that runs on the aspnetcore test harness to verify correctness. I'll have to check if I'm able to contribute any of it back.

[2020-05-28 07:55] MiloszKrajewski commented on #34
Please do, although I would need some conditional compilation as lot of people (including me) are still on netstandard 2.0, netstandard 1.6, Mono, Unity, and .NET 4.5.
I also wanted to actually rewrite this part to extract as much reused code for Sync and Async.

[2020-05-28 13:13] pepoon commented on #19
First of all thanks to MiloszKrajewski for this amazing library.
I tested that on Samsung Galaxy s5(Armvv7) and it crashes..

What I'm doing is:
- Get the repository in VS using nuget.
- Import the libs & dependences to UNITY.

But once I Deploy to Armv7 IL2CPP it crashes,
Then I checked the repository and i found these lines:

namespace K4os.Compression.LZ4.Engine
--
  | {
  | #if BIT32
  | inter

[2020-05-28 14:10] MiloszKrajewski commented on #19
No you don't. It should work. Can you send me minimal working (I mean crashing) project?
Unity or Visual Studio/Xamarin?

[2020-05-28 14:13] pepoon commented on #19
yea in 3h ill make one.
thanks

On Thu, May 28, 2020, 4:10 PM Milosz Krajewski <notifications@github.com>
wrote:

[2020-05-28 14:21] MiloszKrajewski commented on #19
Can you try setting:
[code]
on startup?

[2020-05-28 16:04] pepoon commented on #19
Yea, It crashes aswell,
Preparing a light project now..
Let's hope it is my mistake.

Missatge de Milosz Krajewski <notifications@github.com> del dia dj., 28 de
maig 2020 a les 16:22:

[2020-05-28 16:47] MiloszKrajewski commented on #19
I don't thinks so. If it was throwing some "normal" exception or not compressing random data (which by definition cannot be compressed) them maybe but proper crash is hardware.

And often I have no idea what is actually wrong (last time if was 64-bit unaligned writes on 32-bit platform).

[2020-05-28 17:01] pepoon commented on #19
I have good news, it is not happening on an empty project with "Hello
world" text.
I'll dig more.
Sorry for any inconvenience caused.

Missatge de Milosz Krajewski <notifications@github.com> del dia dj., 28 de
maig 2020 a les 18:48:

[2020-05-29 08:28] pepoon commented on #19
I finally could reproduce the bug, Here are the logcat logs and an apk with
IL2CPP armv7 & armb64.
Pushing the Unity project as well later.
It is trying to decompress a file. On armv64 it works while on armv7
crashes.
 arm7-logs.txt
<https://drive.google.com/file/d/1q2_uWqv6Q-xtjebVzAm_a4EWCL9GR6Cm/view?usp=drive_web>
 arm64-logs.txt
<https://drive.google.com/file/d/1_g9-JyQ16e0HrKuDlMoNA8yrzlgozd

[2020-05-29 08:32] LittleCodingFox commented on #19
The google drive links don't have permission, you need to enable link sharing

[2020-05-29 08:36] pepoon commented on #19
Sorry, I think now i did it.

[2020-05-29 08:37] LittleCodingFox commented on #19
yep, works now :)

[2020-05-29 09:07] pepoon commented on #19
[image: image.png]
 Lz4_test.zip
<https://drive.google.com/file/d/1Su7TveX2KjeyvcNodrfAV_KoZAZGYgWD/view?usp=drive_web>
[image: image.png]
Unity project Attached:
https://drive.google.com/file/d/1Su7TveX2KjeyvcNodrfAV_KoZAZGYgWD/view?usp=sharing

Test is compressing a file then decompressing.
Attached the full unity project.
Unity Version: 2019.3.14.f1

Missatge de Josep Maria Calull Mercadé <calu

[2020-06-14 15:19] luyikk opened #35 "Cannot use readasync"
var lz4_input = LZ4Stream.Decode(input);

When I call  readasync, I can't call Inner stream readasync .

[2020-06-18 01:01] MiloszKrajewski commented on #35
Yes, you are absolutely right.

If you take a look at https://github.com/MiloszKrajewski/K4os.Compression.LZ4/issues/5 you will find that "add true async read/write interface" is planned for vNext.

[2020-06-18 01:59] luyikk commented on #35
thank, I'll make it myself [my](https://github.com/luyikk/LZ4Stream),  it works well.
flush also needs make

[2020-07-02 17:19] Titas22 opened #36 "Migration from lz4net to K4os causes System.AccessViolationException"
Hi,

I have tried migrating my code from lz4net to K4os.Compression.LZ4 and unfortunatelly manage to run into some errors when using Apex serializer and  LZ4 stream from FileStream.

This is how I used the lz4net streams to save a file:
[code]

New code (compression works fine, it gives slightly smaller file sizes but I have verified these and the bytes written to file are correct):
[code]

Now fo

[2020-07-03 09:12] MiloszKrajewski commented on #36
Stack trace does not indicate anything in LZ4, but I can take a look, if you attach some working reporduction.

[2020-07-06 16:12] Titas22 commented on #36
Hi, please find attached a working reproduction. In my case it throws an error when I create 5000 objects but if I use a lower number it will work fine. I am targeting .NET Framework 4.7.1
Nuget packages required:
- K4os.Compression.Streams
- lz4net
- Apex.Serialization (v1.3.3)

[Example.txt](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/files/4880071/Example.txt)

[2020-07-07 09:08] MiloszKrajewski commented on #36
You can raise an issue of `Apex.Serialization` saying it does not work when underlying stream does not return full blocks at once (like network stream).

https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.read?view=netcore-3.1

Note: "Returns: The total number of bytes read into the buffer. This can be less than the number of bytes allocated in the buffer if that many bytes are not curre

[2020-07-07 09:46] Titas22 commented on #36
Understood, thanks!

[2020-07-07 20:05] #36 closed

[2020-07-24 04:34] pepoon commented on #19
Hey Mikos, Fowarded unity response related to the bug lz4 arm7 crash.

thanks

---------- Forwarded message ---------
From: Unity QA <bugs@unity3d.com>
Date: Thu, Jul 23, 2020, 3:17 PM
Subject: Re: (Case 1251505) Armv7 vs Armv64 IL2CPP crashes on
decompres/compress assetbundle using custom compression
To: Josep Maria Calull Mercadé <calullmercade@gmail.com>

Josep,

Thanks for reporting this issue

[2020-07-24 21:51] MiloszKrajewski commented on #19
As I said [before](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/issues/19#issuecomment-481181587) it is unaligned memory access.
I was hoping that using stricly 32bit mode will address the problem, but it seems it did not.
I'n my opinion it is very unclear how and if ARM handles it. Sometimes (https://medium.com/@iLevex/the-curious-case-of-unaligned-access-on-arm-5dd0ebe24965#:~:text=He

[2020-07-31 20:57] nerai opened #38 "Stream is not properly disposed"
Example:

	var path = "test.txt";
	var f = new FileStream (path, FileMode.Create, FileAccess.Write, FileShare.Read);
	var z = LZ4Stream.Encode (f);
	var w = new BinaryWriter (z, Encoding.UTF8, false);
	w.Write ("asdf");
	w.Dispose ();
	//z.Dispose ();
	File.Move ("test.txt", $"test2.txt");

results in IOException:

Commenting in the `z.Dispose` solves the issue.

However, it should not be necessar

[2020-08-01 17:16] MiloszKrajewski commented on #38
I looks like you are right.
Actually, I'm surprised that `BinaryWriter.Dispose()` does not call `Stream.Dispose()` (just `Close()`). It is a little bit counter intuitive.

Although, according to documentation `Close()` should dispose stream, so my implementation of Close is a little but off.

[2020-08-01 17:19] MiloszKrajewski opened #39 "Issue report template"
1. Description

...

2. Expected result

...

3. Actual result

...

4. Steps to reproduce

...

5. Example project (optional)

...

6. Environment

* LZ4: _ (Version, Alpha/Beta)
* .NET: _ (Version, Framework, Core, Mono, Unity, Xamarin)
* OS: _ (Windows, MacOS, Android)
* CPU: _ (Intel, ARM, Samsung, 32/64 bit)

[2020-08-01 17:20] #39 closed

[2020-08-01 17:26] MiloszKrajewski opened #40 "Unaligned memory access on ARM/Unity/IL2CPP"
Seem like unaligned memory access is still an issue for Unity.
My testing on Raspberry Pi gave me false sense of security as dotnet core runtime (which I used for testing) is handling unaligned access properly while IL2CPP is translating access "as is", and it just ends for Segmentation fault.

The easiest way to handle unaligned access can be done using byte-aligned byte-by-byte access with shift

[2020-08-01 17:28] MiloszKrajewski commented on #19
This issue has been revied as #40.
I'll need some help testing it as I don't have access to devices which are actually crashing.

@pepoon @LittleCodingFox

[2020-08-01 19:12] LittleCodingFox commented on #40
I'll do my best to help you! Let me know when you have a build I can test 😃

[2020-08-02 11:46] pepoon commented on #40
xD, yea.. the device it is crashing is samsung s5. I can easily test any build made.

[2020-08-09 13:02] MiloszKrajewski commented on #40
Version 1.2.4-alpha which potentially fixes this problem has been release to Nuget/GitHub.

Please, note: to use this safe-aligned version you HAVE TO set `LZ4Codec.EnforceA7` to `true`.

So, the code of `Main.cs` (which I was using for testing), looked like this:

[code]

[2020-08-09 15:32] pepoon commented on #40
Do you still keep a copy of the project?
I deleted it from the google drive since i was out of memory after unity team took it.
Would be nice if any of you have the unity project link.

Thanks.

[2020-08-09 19:53] MiloszKrajewski commented on #40
[font_decompress.zip](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/files/5048306/font_decompress.zip)
Putting whole project (1GB) is far too much, but the file which was used to test this issue is small enough....

[2020-08-12 06:46] pepoon commented on #40
Ok Ill see, Give me time, this month is kind of hell for me.
Ill try to test it once i get free time.

Thanks Milos.

[2020-08-14 21:00] LittleCodingFox commented on #40
I'm currently getting this:
[code]

[2020-08-14 21:17] MiloszKrajewski commented on #40
This looks more like missing assembly: System.Runtime.CompilerServices.Unsafe
Is mono, .net core, il2cpp?

[2020-08-14 21:34] LittleCodingFox commented on #40
Mono, Unity 2019.4.8f1

[2020-08-15 10:34] LittleCodingFox commented on #40
Does the new code do any sort of codegen? because I wouldn't be able to support iOS that way.

[2020-08-15 13:22] MiloszKrajewski commented on #40
No codegen.
I have no idea how Mono/Unity resolves packages, but if it is about drag&drop, then yo need to pull missingl assemblies manually, for example:
https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/

[2020-08-15 17:35] pepoon commented on #40
Milos, Is it possible you push a link of 'Assets' folder of the old unity project? See if it is small in size.
Thanks.

[2020-08-16 19:36] MiloszKrajewski commented on #40
"It works on my machine". Both using IL2CPP and Mono. All assemblies (dependencies) zipped.
[Plugins.zip](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/files/5081265/Plugins.zip)

[2020-08-16 20:48] MiloszKrajewski commented on #40
Whole project will be available for few days here: https://tinyurl.com/yxarbkwc

[2020-08-28 22:30] LittleCodingFox commented on #40
Just wanted to give you a heads up that I've been extremely busy lately and that's why there's no news. I'll do my best to test this ASAP, but I don't have an ETA yet.

Thank you for your patience 🙏

[2020-08-29 09:07] pepoon commented on #40
yea me too, im running out of deadline.
i have the files on my pc,  ill test  it as well once things calm down

On Sat, Aug 29, 2020, 12:30 AM Nuno Silva <notifications@github.com> wrote:

[2020-09-04 19:45] MiloszKrajewski commented on #40
Addressed in 1.2.5

[2020-09-04 19:45] #40 closed

[2020-09-04 19:45] MiloszKrajewski commented on #38
Addressed in 1.2.5

[2020-09-04 19:45] #38 closed

[2020-09-04 19:46] MiloszKrajewski commented on #35
Addressed in 1.2.5

[2020-09-04 19:46] #35 closed

[2020-09-04 19:46] MiloszKrajewski commented on #34
Addressed in 1.2.5

[2020-09-04 19:46] #34 closed

[2020-09-11 22:42] mjebrahimi opened #41 "Error occurs when async decompressing in v1.2.5"
**Description**
`LZ4DecoderStream.CopyToAsync` throws an `ArgumentOutOfRangeException`.

**To reproduce**
Steps to reproduce the behavior:
[code]

**Exception Details**
[code]

**Environment**
 - K4os.Compression.LZ4.Streams: Version 1.2.5

[2020-09-12 00:59] MiloszKrajewski commented on #41
Confirmed. Emergency fix on its way.

[2020-09-12 01:13] MiloszKrajewski commented on #41
1.2.6 has been release to nuget.
Can you confirm if it works?

[2020-09-12 02:49] mjebrahimi opened #42 "OverflowException: Arithmetic operation resulted in an overflow"
**Description**
I found that for large file sizes this exception occurs on decompressing in a period of 8 megabytes!
For example between files with actual size (before compress) is between 1 to 8 MB, decompress works but for files with actual size between 9 to 16 MB, that exception occurs on decompressing. also for 17 to 24 MB is OK and for 25 to 32 is not OK and so on...

**To reproduce**
Check o

[2020-09-12 02:55] mjebrahimi commented on #41
Yes. Confirmed. Thank you.

[2020-09-12 03:23] mjebrahimi opened #43 "ArgumentOutOfRangeException Occurs when decompressing large files"
This exception occurs when decompressing files with actual large size (for example 900 MB).
To reproduce you can use [this sample](https://dotnetfiddle.net/92D58J) with a large file on your machine and I hope this error occurs to you too ;)

[2020-09-12 08:20] #41 closed

[2020-09-12 08:35] MiloszKrajewski commented on #42
Your test is throwing the exception not compression. Array (length * 255) is too large.

[2020-09-12 08:35] #42 closed

[2020-09-12 08:50] MiloszKrajewski commented on #43
It blows up in test, not in compression (source.Length * 255) is too large to allocated.
There are many things wrong with this example you gave. I mean I don't know which parts are just 'for example' and where you think it is the right way to use it, so:
* for large amount of data you should you use `LZ4Stream`
* you should know how much data you expect after decompression when using blocks (`LZ4C

[2020-09-12 08:50] #43 closed

[2020-09-23 14:48] jensd0e opened #44 "[Solved] System.TypeInitializationException starting from 1.2.5"
Hi,

Starting from version 1.2.5, using LZ4Pickler.Pickle(), I get a System.TypeInitializationException. Downgrading to 1.1.11 fixes this.

Steps to reproduce the behavior:
var compressed = LZ4Pickler.Pickle(source);

Exception: The type initializer for 'K4os.Compression.LZ4.Engine.LL' threw an exception.
Inner Exception: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Ver

[2020-09-26 21:03] MiloszKrajewski commented on #44
Cannot reproduce. Can you zip some example project with this problem?

[2020-09-26 21:23] MiloszKrajewski commented on #44
You can try: 1.2.8-beta. I've changed nothing but now System.Runtime.CompilerServices.Unsafe is referenced implicitly.

[2020-09-28 10:17] jensd0e commented on #44
1.2.8-beta doesn't work either. Same error.

I'll prepare some code to figure out, if this happens only within this project or with any project (on my machine). Will be reporting back here. Thanks for your support. :-)

[2020-09-29 07:19] jensd0e commented on #44
Didn't find anything making sense. :-(
In a fresh project, the library is working as expected. The problem seems to be somewhere hidden deep inside in my Solution.

What makes this worse: 1.2.2-beta is the last working version. It started to throw the exception beginning with 1.2.4-alpha. Diffing those two versions, I could not spot anything, that could possibly be related. Actually just an added

[2020-09-29 16:41] MiloszKrajewski commented on #44
I would suggest refreshing nuget packages and checking app.config for redirections. It seems like it is not pull System.Runtime.CompilerServices.Unsafe into packages folder.

[2020-09-30 09:14] jensd0e commented on #44
Among other things, I tried cleaning my solution. I Manually removed everything inside the package folder and let VS restore the content. I even did a comparision of my whole solution. Besides some (own) DLLs and binaries, only two files where different: my *.csproj and the packages.config. And both only showed a change in version numbers. No change in path or folders.
Something is broken with thi

[2020-09-30 13:22] #44 closed

[2020-10-27 06:13] DotNetCoder82 opened #45 "Unable to build"
**Description**
I downloaded LZ4 project, however, as stated in instructions, I am unable to build and receiving attached error.

I have .NET Core SDKs installed.

**To reproduce**
Download package and run paket restore on command prompt

**Expected behavior**
I expected build would proceed normally as stated in instructions.

**Actual behavior**
A clear and concise description of what actually ha

[2020-10-27 08:32] MiloszKrajewski commented on #45
Command which fails is:
`dotnet tool install paket --tool-path .paket`
can you run this is LZ4 folder?
The other thing is .NET Core SDK 2.1... I wasn't using 2.1 for very long time, Try 3.1?

[2020-10-27 11:31] DotNetCoder82 commented on #45
Above command failing on 3.1 SDK as well:

![image](https://user-images.githubusercontent.com/65447938/97295971-05f3bf80-1876-11eb-82ad-e238d6400d63.png)

[2020-10-27 22:12] MiloszKrajewski commented on #45
I honestly have no idea.
3.1.403 won't work for [different reason](https://github.com/fsprojects/Paket/issues/3897), but what I see is perplexing.

What it tries to do is to download 'paket' from nuget. For some reason it decides to not download it (or is not finding it) and tries to find it in local cache. The fact that you don't have it in local cache cache is understandable, but I have no idea

[2020-10-28 08:17] MiloszKrajewski commented on #45
Wait a sec, it seems like you are doing it as system administrator. This might also be a factor (different cache location?). Try as regular user.

[2020-10-28 11:44] DotNetCoder82 commented on #45
Attached files are missing in .paket folder.
![image](https://user-images.githubusercontent.com/65447938/97429488-7e718380-193d-11eb-9b93-2c673180a330.png)

Also, .NET 4.6.2 SDK is required to build.

[2020-10-28 15:24] MiloszKrajewski commented on #45
They are no missing, they get redownloaded, and for some reason they ar not on your machine:

![image](https://user-images.githubusercontent.com/4333436/97457376-99d69180-1931-11eb-861c-85338e580c26.png)

[2020-11-02 09:15] MiloszKrajewski commented on #45
Let me know if this is still a problem.

[2020-11-02 09:15] #45 closed

[2020-12-17 14:03] ryancheung opened #46 "XA3001: Cannot AOT the assembly: K4os.Compression.LZ4.dll"
**Description**
I got this error when compile Xamarin.Android app with llvm & AOT enabled:
[code]

**To reproduce**
Steps to reproduce the behavior:
Just compile a Xamarin.Android project with llvm and AOT enabled.

**Expected behavior**
Should be able to AOT

**Actual behavior**
XA3001: Cannot AOT the assembly: K4os.Compression.LZ4.dll

**Environment**
 - CPU:  Intel 64 bit
 - OS: Windows
 - .NET

[2020-12-17 17:30] MiloszKrajewski commented on #46
I would suggest raising it with AOT compiler. These people would know how to read compiler logs and diagnostic messages.

[2020-12-18 02:09] ryancheung commented on #46
Just noticed that llvm AOT is experimental feature. I should consider this a mono aot issue. Thanks for response anyway.

[2020-12-18 02:09] #46 closed

[2020-12-29 21:16] geeknoid commented on #14
Regarding IBufferWriter, see #47

[2021-01-19 01:13] NiclasOlofsson opened #49 "Thank you!"
Sorry for the spam, but really just wanted to leave a comment to tell you how much I appreciate this lib. I managed to compress my bit-stream of images up to 95% at virtually no cost. It's insane. I wouldn't believe it if I didn't see the images on the other side of the wire.

[2021-01-19 10:22] MiloszKrajewski commented on #49
Thank you for your kind words!

I can take credit for porting and making .NET interface around it, but performance, well... you should give credit when credit is due: @Cyan4973 and whole [LZ4](https://github.com/lz4/lz4) team!

[2021-01-20 15:39] geeknoid commented on #14
Since #47 was reverted, I've tried again with #50 , hopefully it'll work out better this time around :-)

[2021-01-22 13:19] #49 closed

[2021-01-23 22:35] MiloszKrajewski commented on #14
If have a feeling that by saying "I want to be able to effectively stream compression/decompression, but without using the Stream class" @AArnott meant using ReadOnlySequence and IBufferWriter for **streaming** protocol, ReadOnlySequence being kind of InputStream and IBufferWriter beging OutputStream.

@geeknoid So your changes to pickler might improve performance (if used properly) but are not ad

[2021-01-25 19:25] geeknoid commented on #14
IBufferWriter is the modern efficient way to produce data without requiring the callee to allocate a buffer. Look at how serialization code works in https://github.com/protobuf-net/protobuf-net, https://github.com/neuecc/MessagePack-CSharp, and https://github.com/protocolbuffers/protobuf/tree/master/csharp. The modern additions to these packages all leverage IBufferWriter for the serialization pro

[2021-01-26 01:00] AArnott commented on #14
Yes, @geeknoid has got the idea for writing. And @MiloszKrajewski is right on.

For reading, `ReadOnlyMemory<byte>` and `ReadOnlySpan<byte>` support is good, but `ReadOnlySequence<byte>` support is even better (perhaps in addition to `ReadOnlySpan<byte>` support) because now I can deserialize a *huge* data stream without having it be in one huge block in memory (which especially in a 32-bit proces

[2021-01-27 09:49] DAEADbE opened #52 "Issue migrating from lz4net to K4os.Compression.LZ4.Legacy"
**Description**
I'm trying to migrate a code base to **K4os.Compression.LZ4.Legacy** from **lz4net** since it is no longer supported. I receive an **Unexpected end of stream** exception when trying to use the **CopyTo** function to a **MemoryStream**.
[code]

**To reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Data from returned from the **LZ4Legacy.Decode** stream shou

[2021-01-27 11:55] MiloszKrajewski commented on #52
You overinterpreted when you need Legacy support. You need it ONLY when you used PICKLE (`Wrap`) or STREAM (`LZ4Stream`) protocols in lz4net.
As I can see you used regular BLOCK (`LZ4Codec.Encode`) protocol. So you don't need legacy support they are compatible out of the box:
[code]

No need for `MemoryStream`s and other shenanigans you use.

Hope it helps.
If you still have problem with it let me

[2021-01-27 15:02] DAEADbE commented on #52
Ah I see, my bad. Thanks for getting back to me so quickly, I've managed to fix it up and it is now working as expected.

[2021-01-27 15:02] #52 closed

[2021-02-06 18:01] MiloszKrajewski commented on #14
I was looking at this today. Making compression / decompression to/from IBufferWriter and ReadOnlySequence would require duplication the whole Streaming logic or creating some streaming abstraction and having two implementations for stream and ReadOnlySequence. That is a little bit too much for this stage.

I was thinking about creating an adapter to make ReadOnlySequence a Stream. Yes, this solut

[2021-02-20 03:02] bluedoom opened #56 "Can't Build. Restore:Corpus Execution failed with error code 2"
D:\C#Projects\K4os.Compression.LZ4>fake build
![image](https://user-images.githubusercontent.com/29087010/108581901-03f4c580-736b-11eb-98f4-e55d4b1caef7.png)

[2021-02-20 16:02] MiloszKrajewski commented on #56
Can I have full log, please. I think the answer to "what actually failed?" is on previous pages unfortunately.

[2021-02-25 02:50] bluedoom commented on #56
Thanks for your reply!  I got this :
Processing archive: .\.corpus\nci.zip
Error: Can not open file as archive
I delete the nci.zip(which is 0 size) , and re-download it.

[2021-02-25 02:50] #56 closed

[2021-03-22 20:22] jdvor opened #57 "Question: ReadAsync on LZ4EncoderStream?"
Is there a way how to set-up stream compression where something is reading from the compressing stream?
In similar fashion to this:
[code]

The solution in this case might be an intermediary MemoryStream to which lz4Stream would be copied entirely, but that would kind of defeats whole purpose of  streaming approach to compression, no?

This works, but feels wrong:
[code]

[2021-03-23 00:01] MiloszKrajewski commented on #57
I assume you want compression to be done on read. Like you give it uncompressed stream start reading from it and you get compressed bytes?

<good-news>
I understand what you need, and why you need it!
</good-news>

<bad-news>
It is not supported, LZ4Encoder/LZ4Decoder would enable it, but wiring in LZ4Stream would need to be totally reversed as it feels complicated. I know crypto stream does somet

[2021-03-23 08:14] jdvor commented on #57
Thanks, I will definitely check the Nerdbank.Streams.

Also I was thinking about somehow wiring up PipeReader & PipeWriter from [System.IO.Pipelines](https://docs.microsoft.com/en-us/dotnet/standard/io/pipelines) with your LZ4 codec in between might do the trick.

I'll share the solution here if I would make something useful.

[2021-03-24 14:39] MiloszKrajewski commented on #57
Success? Can I close it?

[2021-03-24 18:59] #57 closed

[2021-05-11 22:26] bratfizyk opened #58 "Is it possible to create a "backward compatible" stream?"
#### Background

In my current system I use the deprecated lz4.net library. I'm planning to migrate to K4os.Compression.LZ4, but I already have hundreds of thousands files compressed using the old `LZ4Stream`. The files are scattered across many locations and I don't want to migrate them all at once to the new LZ4 Stream format.

In an ideal world I'd like newly created files in my system to use t

[2021-05-12 08:37] MiloszKrajewski commented on #58
So definitely such thing does not exist (a stream which can read both formats).
I was working on assumption that you (the user) can tell them apart yourself (like `ProtocolVersion` field in database, or different extension in filename).

First 4 bytes of NEW stream is a magic number '0x184D2204' maybe this might help? (see: https://github.com/MiloszKrajewski/K4os.Compression.LZ4/blob/f9e70f19d46ce

[2021-05-12 18:55] bratfizyk commented on #58
Ok, thanks for the feedback.
Closing the issue as you said:

[2021-05-12 18:55] #58 closed

[2021-05-13 21:11] bratfizyk commented on #58
Actually, @MiloszKrajewski there's one more thing I'd like to know.
In the old LZ4.NET library we used to have `Wrap` and `Unwrap` functions that accept byte arrays and compress/decompress them returning another byte array.

I see these methods in this repository as well in `Legacy` module. Is there any other method that does the same thing outside of `Legacy`. I found `LZ4Pickle` class that has f

[2021-05-13 22:43] MiloszKrajewski commented on #58
So Pickle/Unpickle has the same purpose as Wrap/Unwrap (thus same signature) but is not compatible,
I was not planning backwards compatibility so Pickle/Unpickle does not any magic number. It is forward compatible (I reserved 3 bits for version) but not backwards.

You can use Legacy assembly one to read old ones (Unwrap) and write them in new format (Pickle), but knowing which ones are old/new is

[2021-05-13 22:45] MiloszKrajewski commented on #58
Unfortunately you are asking very legitimate questions and I'm sorry that answers are most of the time: "you have to work around it yourself".

[2021-05-14 11:51] bratfizyk commented on #58
Thanks for responding once again.
This all sounds reasonable and saves me a lot of time guessing. Much appreciated!

I found an easy way to implement `Wrap` and `Unwrap` using Streams, so if I need them, I know what to do, no worries.

[2021-05-14 18:09] MiloszKrajewski commented on #58
Stream come with quite large overhead. It is fine if we are talking about megabytes of data, but for short messages pickle is much better.

Try code below. It will, of course depend on size of your messages but if they are below 64k it will be much much (much) quicker than stream:

[code]

[2021-06-28 07:35] iml6yu opened #59 "can't decode"
**Description**
a string of Json Formate  can't decode when i set byte[] lenth .

**To reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
 希望解压以后和s相等

**Actual behavior**
实际解决后的结果是 空字符串。
**Environment**
 - CPU: _  Intel, 64 bit
 - OS: _  Windows 10
 - .NET: _.net5
 - LZ4: _ 1.2.6

**Additional context**
在压缩和解压非json字符串的时候，以上代码是能够通过的，但是当压缩和解决json格式的时候就不可以了，解压以后 的rs 是string.Em

[2021-06-28 07:37] iml6yu commented on #59
补充一下：
当我使用Lz4Picker类进行操作的时候是完全OK的，只是速度略慢，我需要更快的速度。

[2021-06-28 11:55] MiloszKrajewski commented on #59
Unfortunately I don't read Chinese, but pickler is the simples approach:

[code]

If you really need to use low level functions, you need to do all the work around it.
For example, I can see that you are not using value returned by `LZ4Codec.Encode(...)`. Well, value tells you how many bytes were used in compression, which is the value you need to use when doing `LZ4Coded.Decode(...)`

[2021-06-29 06:59] iml6yu commented on #59
Thank you .
My English is very poor. so, I can't describe my problem clearly.

When using the LZ4Codec class to compress and decompress JSON strings, if the Length of the solution byte is set to the Length of the source byte[], it will not be decompressed. If the Length is set to Source.Length * 255, it will be decompressed correctly.

e.g.

[code]

[2021-06-29 07:00] iml6yu commented on #59
Pickler  very good, it's  so great.

[2021-06-30 07:55] MiloszKrajewski commented on #59
Your `rarray` has *maximum* bytes not *actual* bytes.
Take `actualLength = LZ4Codec.Encode(...);` and use it when creating `var rarray = new byte[actualLength];`

BUT...

your code is far from optimal. You are making many unnecesary allocation (for example: ` srcList.AddRange(System.Text.Encoding.UTF8.GetBytes(s)); var src = srcList.ToArray();`). Stick to my previous example:

[code]

[2021-07-01 08:17] #59 closed

[2021-07-23 17:45] RLashofRegas opened #60 "Different Output After Copying Stream"
**Description**
I am getting strange results with a specific lz4 file. I have a tar.lz4 where the tar contains a bunch of json files. When I try to deserialize the json files it is failing with some garbage data. I found that with the particular lz4 file I am using, if I pass the LZ4DecoderStream directly into a TarInputStream ([SharpZipLib](https://github.com/icsharpcode/SharpZipLib)) I see the g

[2021-07-28 12:28] MiloszKrajewski commented on #60
I'll take a look at this next week. Can you check reading blicks instead of single bytes? GetByte is least tested API.

[2021-07-28 23:03] RLashofRegas commented on #60
Interesting. So when I simply read the stream as blocks using `Stream.Read()` it does not throw an exception (the streams are equivalent), this code:
[code]

However, when I read them using the `TarInputStream` from the SharpZipLib library they are not equivalent. Namely, `tarStream.GetNextEntry()` throws "Header checksum invalid" [here](https://github.com/icsharpcode/SharpZipLib/blob/0cc20b430925

[2021-08-01 16:04] MiloszKrajewski commented on #60
I did some testing with Tar streams (https://github.com/MiloszKrajewski/K4os.Compression.LZ4/blob/master/src/K4os.Compression.LZ4.Streams.Test/TarTests.cs) and it works fine.

I mean I understand that it might be a bug but it is not a general problem, there must be something specific to data. I actually guess that it might be something about how SharpZipLib call LZ4Stream (for example, tries to re

[2021-08-06 07:52] MiloszKrajewski commented on #60
@RLashofRegas any luck reproducing it?

[2021-08-06 22:42] RLashofRegas commented on #60
Sorry been super busy with other things but no. I will try next chance I get but I had tried previously and was not able to reproduce with other files.

[2021-10-11 11:11] gibbed opened #61 "Decode with endOnOutputSize"
It doesn't appear that decoding with `endOnOutputSize` is exposed. Is there any plan to make this available?

I'm after partial decoding of data, where I know the uncompressed and compressed sizes, but would like to do partial decoding to get at a file header before I choose to decode the entire file. Currently if I try to do this with `LZ4Codec.Decode` it returns `-1` without any bytes written to

[2021-10-14 10:39] tibel opened #63 "Dependency to System.Memory is not needed for .NET Standard 2.1 and .NET 5.0"
In newer frameworks (.NET Standard 2.1 and .NET 5.0) `Span` is supported out of the box and the NuGet package is not needed.

[2021-10-15 15:55] trolf7035 opened #64 "A way to perform block decompression using an initial dictionary"
**Description**
I'm fairly inexperienced with this compression format, but I'm trying to implement the decompression methods used in this python script found [here](https://github.com/ydkhatri/spotlight_parser/blob/fa6d12337a387cbd07ae42c9c0396b07f0377eee/spotlight_parser.py#L762). The key line is:
last_uncompressed = lz4.block.decompress(block_data[chunk_start + 12: chunk_start + 12 + compressed_

[2021-11-27 09:10] redwyre commented on #63
This is something I am very interested in as well as the extra references cause issues with Unity

[2021-12-02 09:55] MiloszKrajewski commented on #63
1.2.16 should do exactly this

[2021-12-02 09:55] #63 closed

[2021-12-03 01:36] redwyre commented on #63
Thanks @MiloszKrajewski! Are you able to make the same change in https://github.com/MiloszKrajewski/K4os.Hash.xxHash ?

[2021-12-06 17:08] MiloszKrajewski commented on #63
@redwyre xxHash 1.0.7 has same changes applied.
Note LZ4 still references 1.0.6 so you need to manually reference xxHash 1.0.7.
I'll change it in next release.

[2021-12-27 08:47] qcbf opened #66 "excuse me, it work to Unity Engine?"
"1.2.16 Source code"  copy to Unity,  i get many error. what did i miss.
thank  very much
![Snipaste_2021-12-27_16-51-20](https://user-images.githubusercontent.com/3467543/147454081-54c8f802-db9e-48e6-9543-f2e722e1f157.png)

[2021-12-31 13:56] MiloszKrajewski commented on #66
It should, but I don't know because I'm not using Unity - but it promises to be compatible with .NET Standard.
Maybe @redwyre can help?

[2022-01-04 08:19] redwyre commented on #66
Sure, if you're using Unity 2020 or earlier it is only compatible with .net standard 2.0. You will need to copy the other dependencies like System.Memory, but downloading from nuget and adding to your Unity Project.

An easier way to make this work would be to a dummy library project (netstandard2.0) and add the nuget references for K4os.Compression.LZ4 and System.Memory, then just copy everything

[2022-01-05 04:03] qcbf commented on #66
thank everyone

[2022-01-05 04:03] #66 closed

[2022-01-20 17:37] Gsantomaggio opened #67 "Compatibility Problem with other implementations"
**Description**
I am using `LZ4` to compress packets over the network.
I can exchange data between Java with https://github.com/lz4/lz4-java and Golang with https://github.com/pierrec/lz4)

When I try to decompress data coming from Golang to .NET  I get the following error:
[code]

When I try to decompress data coming from .NET to Golang  I get the following error:
[code]
**To reproduce**
I am usi

[2022-01-20 17:49] MiloszKrajewski commented on #67
`Pickle` is not compatible with anything, it meant to be used for short Pickle/Unpickle storage.

`LZ4Stream` is the interchangeable format. It little bit heavier but compatible.

[2022-01-20 17:54] MiloszKrajewski commented on #67
If you are worried about memory consumption with MemoryStream you can try https://github.com/Microsoft/Microsoft.IO.RecyclableMemoryStream

[2022-01-20 18:53] Gsantomaggio commented on #67
Thank you for the quick answer.

I am trying with streams:
[code]

From .NET to .NET works :) (of course)

When I try to consume from JAva or Golang:
[code]

Trying to understand what it means

[2022-01-20 19:00] Gsantomaggio commented on #67
it works :)

[code]

thank you

[2022-01-23 22:21] Razique opened #68 "How to uncompress an LZ4 archive that has multiple files?"
**Description**
Hi,
I have created an `.lz4` archive that contains files and folders using `tar`:
[code]

And I am running the current code to create a file stream:
[code]
It seems to me that I need to perhaps find ways to iterate over all files within the archive, but I couldn't find anything in the documentation that explains which method could have an iterator.

thanks!

**To reproduce**
Steps

[2022-01-24 08:43] MiloszKrajewski commented on #68
There is only one file inside LZ4 archive, always.
The (only) file inside LZ4 archive is a TAR file.
It is the TAR file which contains many files.

So, you need a library which deal with TAR files, for example: [SharpZipLib](https://github.com/icsharpcode/SharpZipLib).

When you have it you can just nest streams:

[code]

Example is [here](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/bl

[2022-01-25 04:22] Razique commented on #68
Thank you so much @MiloszKrajewski. It worked like a charm. This code allowed me to reach near native speed when unarchiving my tar.
It is worth pointing an interesting issue for those who stumble on this thread: `tar` operations on Windows are pretty slow, unless Windows Defender is disabled. This is visible when you are dealing with a large data set.
[More information here](https://github.com/mi

[2022-01-25 04:22] #68 closed

[2022-03-30 06:18] mirasrael opened #69 "[Feature] Optimized LZ4 Frame aware encoding/decoding to stream"
In out project we used LZ4Stream.Encode/Decode very intensively for network packets compression and for frozen data compression (to save memory while it isn't in active usage). But then during profiling we realized that way we use it makes lot of allocations of temporary memory for TryStashFrame and ReadFrame functions and so makes high pressure on GC.
We're using really simple scenario when we ju

[2022-03-30 07:57] MiloszKrajewski commented on #69
That's exactly what I'm working on right now (see branch `abstracted-streams`). I'm trying to abstract stream into something lighten (let's call it ByteProducer / ByteConsumer), so stream would also be one of implementations but not the only implementation.

Unfortunately still some allocations happen because of async implementations (async methods not being true methods, but state machine classes

[2022-03-30 08:05] MiloszKrajewski commented on #69
@mirasrael NOTE, `LZ4Pickler` is much lighter protocol (support for `Span<byte>`, and `IBufferWriter<byte>`, very low GC use, uses `stackalloc` below 1024 bytes, etc). It is NOT LZ4 Frame compatible though (it is just proprietary format). Worth considering for small (to medium) objects which fit in memory (as it does not support streaming).

[2022-03-30 09:53] mirasrael commented on #69
@MiloszKrajewski glad to know you're aware about that problem and working on more effective solution 👍 Also thanks for advice with `LZ4Pickler` - we actually using older version which doesn't have API with `IBufferWriter` so I considered it as still not good enough because of byte array allocated for result, but with `IBufferWriter` it may be avoided. Also I thought that if you can make generic ve

[2022-03-31 01:02] ds5678 opened #70 "[Feature]: .NET 6 target and assembly trimming"
It would be nice to have a .NET 6 target that supports [trimming](https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming).

I tried to do this myself based on 15007a81a20addd6b50d29f74d3cbce25593df74, but `paket.lock` is an unreadable mess.

[2022-03-31 11:51] MiloszKrajewski commented on #70
Make sense. I will take a look.
In general `paket.lock` is not a file you modify manually, so its readability has secondary importance.

[2022-04-08 08:25] DoktorAce opened #71 "Unity Support"
Unity is mentioned under the very last section in the readme. But things like `ReadOnlySpan` from `System.Memory.dll` requires .net 5+ which Unity does not support? Or am I missing something here, because I can't get it to compile in Unity 2020.2.

[2022-04-08 09:29] MiloszKrajewski commented on #71
I am not using Unity myself, so I don't know, but people did use it with Unity.

The other of your statements is actually not true: `System.Memory` is compatible with:
(source: https://www.nuget.org/packages/System.Memory/4.5.4)
[code]
So, it SHOULD work without a problem. If it doesn't (which is possible) it is for a DIFFERENT reason.

[2022-04-08 09:32] MiloszKrajewski commented on #71
You may take a look at #66

[2022-04-21 09:31] MiloszKrajewski commented on #71
Did you make it work?

[2022-04-22 07:58] #71 closed

[2022-06-28 02:09] gibbed opened #72 "Implicit reference to System.Runtime.CompilerServices.Unsafe appears to cause wrong version to be selected"
**Description**

The implicit package reference seems to be causing VS to pick an older version `4.5.3` of `System.Runtime.CompilerServices.Unsafe` on newer NuGet releases (after `1.2.6`) at least with `.NETFramework,Version=v4.5` and `.NETFramework,Version=v4.6`.

This causes a type loading error.

The relevant commit that introduced this issue appears to be https://github.com/MiloszKrajewski/K4o

[2022-07-04 11:07] MiloszKrajewski commented on #72
I can confirm the problem.
This `System.Runtime.CompilerServices.Unsafe` is a PITA.
It was explicitly referenced, but for new .NET Core it is built-in so referencing it was causing conflicts sometimes, so I removed it and trusted .NET to pick the right one. Now I can see it cannot be trusted.

So, it will return as explicit, but in the meantime just add explicit reference to your project.

[2022-08-31 07:15] rmja opened #73 "Chained encoder does not produce the same result as the lz4 cli when chaining is enabled"
**Description**
During a test of the lz4 encoder I have seen differences in the encoded output compared to the lz4 cli when block chaining is enabled

**To reproduce**
Consider the binary attached input file [testfile.zip](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/files/9459312/testfile.zip). The file is zip compressed and must be decompressed.
Processing the file with the lz4 cli pr

[2022-09-01 23:05] MiloszKrajewski commented on #73
Is output compatible?
Can it compressed with one and decompress with the other?
If yes, thet this might interesting but low priority.
I wrote chaining code myself (just from spec), so it might behave a little bit differently.
Also, it can use x86 or x64 encoder (which do produce different results), so this is another thing to keep in mind.

So, my question is, regardless being different - is it co

[2022-09-02 04:16] rmja commented on #73
Yes, they seem compatible. At lease from the set of files that I have tested. The lz4 cli seem to be able to decompress the encoded files.

I found this when I was implementing #14. The implementation is here:
https://gist.github.com/rmja/98dc7e0576c933faa0a75629b46af71c

For this I created a bunch of different random files for testing and found the issue that way.

[2022-09-02 04:18] rmja commented on #14
I have made a prototype of this here: https://gist.github.com/rmja/98dc7e0576c933faa0a75629b46af71c
Let me know if you want this in a PR somewhere.

[2022-09-02 12:03] MiloszKrajewski commented on #73
What about sizes?

[2022-09-04 15:14] AArnott commented on #14
@rmja I'd like to consume this [in MessagePack-CSharp](https://github.com/neuecc/MessagePack-CSharp/tree/master/src/MessagePack.UnityClient/Assets/Scripts/MessagePack/LZ4), perhaps among other places. I'm not sure at this point where the LZ4 implementation that's copied as source into messagepack came from. Maybe from this repo? Anyway, if you have the time to look it over and possibly send a PR t

[2022-09-05 06:00] rmja commented on #14
Year, It would be really nice to have it here. @MiloszKrajewski What would your proposal be - should we create a K4os.Compression.LZ4.Buffers project? Alternatively it could be put in the core project but that would add a dependency on K4os.Hash.xxHash.

[2022-09-07 19:38] AArnott commented on #14
@MiloszKrajewski An API that fits your two methods is `PipeReader`. If the LZ4 algorithm could operate based on that (and `PipeWriter` it would be able to interop with many modern APIs and be truly 'streaming'. But these APIs include async calls (ReadAsync and FlushAsync), and you'd want to bubble that up to the top-level publi APIs.

[2022-09-07 19:47] rmja commented on #14
I do not think that we need a home made generic abstraction. The implementation on top of ILZ4Decoder, etc is straight forward. Combine that with a Pipe, and it could maybe be the shim for the streams?

[2022-09-07 21:45] MiloszKrajewski commented on #14
`PipeReader` sounds exactly what I need, but with 3 "buts":
* I need it in .NET Standard 1.6 (am I ready to drop compatibility, maybe... I'm not sure),
* it is relatively big (lots of method to fill, while I need 1 or 2)
* I need Stream to be also PipeReader (and I guess PipeWriter)

As bad as it sounds "homemade" is the current state of the game.

[code]

NOTE: it is an interface, but designed to

[2022-09-07 22:09] AArnott commented on #14
There is no Microsoft-supported runtime that supports .NET Standard 1.6 that doesn't also support .NET Standard 2.0 at this point. Check out [this table](https://docs.microsoft.com/en-us/dotnet/standard/net-standard?tabs=net-standard-2-0). So AFAIK there is absolutely no reason to target anything less than .NET Standard 2.0.

I don't understand this point. If you mean you need an adapter between t

[2022-09-13 09:48] rmja commented on #14
@AArnott @MiloszKrajewski I have updated the [gist](https://gist.github.com/rmja/98dc7e0576c933faa0a75629b46af71c#file-lz4framedecoder-cs) to include the following method in the decoder:
[code]

It now fully supports streaming through a Pipe.

[2022-09-13 15:14] AArnott commented on #14
@rmja, that looks terrific. Since we're already willing to be async, can we switch from `IBufferWriter<byte>` to `PipeWriter` and call `await FlushAsync` periodically? That way, we don't have to allocate memory for the entire decompressed data. Getting to `IBufferWriter<byte>` was a good start, since it means we don't have to allocate *contiguous* memory for the entire data, but allowing time to f

[2022-09-13 15:55] rmja commented on #14
I will do that. Wouldn't it be a good place to put this in the streams lib and then maybe wrap the stream implementation around this? Just to get an idea about how to proceed with a PR.

[2022-09-13 16:05] AArnott commented on #14
Are you talking about Nerdbank.Streams? If so, that library has no dependency on LZ4, and many users that wouldn't want that dependency. Getting this into MessagePack would be very interesting, and I'd like to do that regardless. But its LZ4 implementation will be `internal`, and anyway that lib is scoped to messagepack users. So the best place for your code IMO is either _this_ library, or if tha

[2022-09-13 16:07] rmja commented on #14
I was talking about https://github.com/MiloszKrajewski/K4os.Compression.LZ4/tree/master/src/K4os.Compression.LZ4.Streams 😁

[2022-09-13 16:11] rmja commented on #14
My idea is that this pipe work maybe could replace the current internals og that lib, and then expose both the pipe fundamentals and the current streams wrapped with a pipe.

[2022-09-13 16:13] AArnott commented on #14
Ah, ok. That sounds great. I'll have to let @MiloszKrajewski decide on that.

Or possibly vice versa: implement with a pipe at its core, and wrap with streams to support the existing Stream-based API. Pipes can be used with higher perf than streams, so this might allow you to maintain fewer copies of the code while keeping perf at or near max for everyone.

[2022-09-13 16:19] rmja commented on #14
Year, exactly. That was my point. @MiloszKrajewski is it ok if I come with a proposal for this that we can use as a basis for a discussion? I think that work from here on is better in a draft pr than a gist.

[2022-09-15 03:51] rmja commented on #14
@AArnott @MiloszKrajewski I have now added https://github.com/MiloszKrajewski/K4os.Compression.LZ4/pull/74 which should be somewhat feature complete. Let me know what you think.

[2022-10-28 14:44] dewanymca opened #75 "Migrating from L4zNet to new implementation"
Looking for help in migration of existing code implementation in which we refer
		<PackageReference Include="lz4net.netstandard" Version="1.0.15.93" />
and how to migrate new .NET STANDARD implementation. We found that existing implementation fails with .NET 6 and we need to migrate this to little.

Migration doc which describe what are corresponding classes in new version vs old will be very help

[2022-10-28 15:14] dewanymca opened #76 "InvalidDataException: LZ4 frame magic number expected"
Using ="K4os.Compression.LZ4.Streams" Version="1.2.16"  and running into issue while decompress- error is
InvalidDataException: LZ4 frame magic number expected

sample code which is throwing this is:
public Stream Decompress(byte[] bytes)
        {
            var output = new MemoryStream();
            var compressStream = new MemoryStream(bytes);

            using (var lz4Stream = LZ4Stream.De

[2022-11-02 23:14] MiloszKrajewski commented on #76
Legacy (lz4net) streams can only be handled by .Legacy library.
So "We even tried Legacy package" is the only way to make it work, therefore "which also fails with a different error" is the only question I have - what was this different error? can you provide code? can you provide file?

[2022-11-03 02:11] dewanymca commented on #76
Thanks @MiloszKrajewski  for help on this.

This is stack trace while using Legacy:

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (Unexpected end of stream)
  Source=System.Threading.Tasks.Parallel
  StackTrace:
   at System.Threading.Tasks.TaskReplicator.Run[TState](ReplicatableUserAction`1 action, ParallelOptions options, Boolean stopOnFirstFailure)
   at

[2022-11-03 07:46] MiloszKrajewski commented on #76
This AggregateException from System.Threading.Tasks.Parallel has nothing to do with LZ4.

What are those `bytes[]` in `var compressStream = new MemoryStream(bytes);`? Where they are coming from?
IT seems like it is not valid legacy stream (thus `Unexpected end of stream`).
Can I get those bytes?

What was the code which created those bytes? Was it as stream? or a block?

Can you show code on the o

[2022-11-03 08:44] MiloszKrajewski commented on #76
when calling it from .NET 3.1 there is a problem with 'System.Runtime.CompilerServices.Unsafe' which is raised and worked around in #72, but it is a different issue. You primary issue still is: your bytes are most likely not a legacy stream.

[2022-11-03 17:58] dewanymca commented on #76
I totally understand AggregateException  is nothing to do with Lz4.
Bytes are coming from upstream where decryption happened. Actually full flow, we save SymmerticKeyEncrypted and compressed payload in a column of db. After retrieval we decrypt and then try to decompression.

below is code which does Decryption:

public override byte[] Decrypt(byte[] encryptedMessage)
        {
            var iv

[2022-11-04 14:56] dewanymca commented on #76
Thanks for pointer. After this, i was able to pinpoint issue and fix it as well. I was running into breaking changes in .NET 6 as described here.

https://learn.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams

I am able to fix this and now legacy stream is working.

Couple of follow up question:
1. What is Plan for Legacy package? Willl you keep on ma

[2022-11-04 17:14] #75 closed

[2022-11-04 17:17] dewanymca commented on #76
Can you please double click on #3, peeking into first few byte. Do you means to say 1st byte will have this magic number always in new Lz4.?

[2022-11-04 22:13] MiloszKrajewski commented on #76
First *four* bytes of LZ4 "official" stream is `0x184D2204`

[2022-11-04 22:26] MiloszKrajewski commented on #72
Hopefully sorted out in [1.3.0-beta](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/releases/tag/1.3.0-beta)

[2022-11-04 22:26] MiloszKrajewski commented on #70
.NET 6 release in [1.3.0-beta](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/releases/tag/1.3.0-beta)

[2022-11-04 22:27] MiloszKrajewski commented on #69
Lot of new functionality around streams, ReadOnlySpans, Memory and BufferWriters in [1.3.0-beta](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/releases/tag/1.3.0-beta)

[2022-11-04 22:29] MiloszKrajewski commented on #14
I think a lot of it is addressed in [1.3.0-beta](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/releases/tag/1.3.0-beta).
I know you did a lot of good work in #74 but you caught in the middle of a very long feature branch and major refactor.
Check how new APIs fit your purpose.

[2022-11-04 22:31] MiloszKrajewski commented on #6
[1.3.0-beta](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/releases/tag/1.3.0-beta) has a lot of new streaming methods and some of them are very memory friendly, let's say.

[2022-11-05 00:25] ds5678 commented on #70
Much appreciated

[2022-11-05 09:09] #70 closed

[2022-11-05 09:25] #6 closed

[2022-11-06 21:44] MiloszKrajewski commented on #72
Finally fixed in 1.3.3-beta. Tested with: net461, net48, netcore20, netcore31, net6
[Check this](https://github.com/MiloszKrajewski/K4os.Compression.LZ4/tree/master/assets/issue72)

[2022-11-06 21:44] #72 closed

[2022-11-06 21:47] MiloszKrajewski commented on #14
I'm closing this issue at addressed with 1.3.3.
This ticket was very valuable, and I guess it can spawn a discussion about rewrite.
But for now: it does support `ReadOnlySequence<byte>` and `IBufferWriter<byte>` as source/target on encoding/decoding, so goal has been achieved.

[2022-11-06 21:47] #14 closed

[2022-11-06 21:50] MiloszKrajewski commented on #69
This snippet does exactly what has been implemented in new version. I do agree, it is much more optimized (as it has less layers of abstraction), but also duplicates a lot of code.
I will think about rewiring some parts on of my solution so allow this "no cost abstraction" (like state machine allowing to decouple engine from async operations).

[2022-11-06 21:50] #69 closed

[2022-11-07 06:42] rmja commented on #14
@MiloszKrajewski I cannot really verify your work for now in my project as I rely on support for contentsize, block and content checksum. I will try and evaluate when support for those get in.

[2022-11-09 23:20] MiloszKrajewski commented on #14
@rmja
You keep challenging me! ❤️
block and content checksum coming in 1.3.4-beta 😄